<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>el</string>
    <key>CFBundleDisplayName</key>
    <string>Χωράφι &amp; Μετεωρολογία</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
    <key>CFBundleName</key>
    <string>Χωράφι &amp; Μετεωρολογία</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Χρειαζόμαστε πρόσβαση στην κάμερα για να τραβήξετε φωτογραφίες των χωραφιών σας και να τις αποθηκεύσετε στο ημερολόγιο εργασιών.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Χρειαζόμαστε πρόσβαση στις φωτογραφίες σας για να επιλέξετε εικόνες των χωραφιών σας.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Χρειαζόμαστε πρόσβαση για να αποθηκεύσουμε φωτογραφίες από την εφαρμογή.</string>
	<key>NSUbiquitousKeyValueStore</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Χρειαζόμαστε την τοποθεσία σας για να εντοπίσουμε τα χωράφια σας στον χάρτη.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
